* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

li {
  list-style: none;
  margin: 1rem 0;
}

a {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

a:hover {
  color: orangered;
}
